<p class="sub-information">
	{{content.field_season.title}}
	{% for item in content.field_season.items %}
		{{item}}
	{% endfor %}
	{% set season %}
	{{ content.field_season }}
    {% endset %}
    <span>{{season|striptags}}</span>
</p>
<!-- <span>{{content.field_date|striptags}}</span>
	<span>{{content.field_publication_format}}</span>
	<span>{{content.field_date_type}}</span> --></p>
