<p class="sub-information">
	
	{% for item in content.field_season %}
		{{item}}
	{% endfor %}
	{% set season %}
	{{ content.field_season }}
    {% endset %}
    <span>{{season|striptags}}</span>
</p>
<p>{{ conBody|striptags }}</p>
<!-- <span>{{content.field_date|striptags}}</span>
	<span>{{content.field_publication_format}}</span>
	<span>{{content.field_date_type}}</span> --></p>
