<p class="sub-information">
    {{content.field_season.0.value}}
    </br>
    {{content.field_season.title}}
    </br>
	{% for item in content.field_season.0|keys %}
		{{item}}
    {% endfor %}
</p>
<!-- <span>{{content.field_date}}</span>
	<span>{{content.field_publication_format}}</span>
	<span>{{content.field_date_type}}</span> --></p>
