{{fields}}
<div id="intro" class="w-section banner-one">
  <div class="video-wrapper">
    <div class="w-embed">
        {{ fields.cover_image.content }}
    </div>
    <div class="video-overlay"></div>
  </div>
  <div class="w-container container-contact">
    <div class="align-center">
      <h1 class="inner-title">{{ fields.journal_title.content }}</h1>
      <h2 style="color:white;" >{{ fields.journal_subtitle.content }}</h2>
      <p class="sub-text-title"><span class="numero" >{{ fields.numéro_de_publication.content }}</span>, <span class="date">{{ fields.publication_date.content }}</span></p>
    </div>
  </div>
</div>