{% for field in fields %}
        <p>{{ field.class }} --> {{ field.content }}</p>
{% endfor %}
<div class="video-wrapper">
  <div class="w-embed">
        {{ fields.field_image.content }}
    </div>
    <div class="video-overlay"></div>
  </div>
  <div class="w-container container-contact">
    <div class="align-center">
      <h1 class="inner-title">{{ fields.title.content }}</h1>
      <h2 style="color:white;" >{{ fields.field_journal_subtitle.content }}</h2>
      <p class="sub-text-title"><span class="numero" >{{ fields.field_issue_number.content }}</span>, <span class="date">{{ fields.field_publication_date.content }}</span></p>
    </div>
  </div>

