
{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
{% import _self as menus %}
   {% if items %}
      {% if menu_level == 0 %}
         <ul class="w-list-unstyled dd-big-res">
      {% else %}
         <ul class="w-list-unstyled dd-big-res">
      {% endif %}
      {% for item in items %}
         {%
         set classes = [
         menu_level == 0 ? 'dropdown',
         item.in_active_trail ? 'active',
         item.in_active ? 'active',
         ]
         %}
         {% if menu_level == 0 %}
            {% if item.is_expanded %}
               <li{{ item.attributes}} >
                  <div class="w-clearfix nav-res-link">
                     <a href="{{ item.url }}" class="res-txt">{{ item.title }}</a>
                  </div>
            {% else %}
               <li{{ item.attributes}} >
                  <div class="w-clearfix nav-res-link">
                     <a href="{{ item.url }}" class="res-txt">{{ item.title }}</a>
                  </div>
            {% endif %}
         {% elseif menu_level == 1 %}
               <li{{ item.attributes.addClass(classes) }}>
               <a href="{{ item.url }}" class="w-inline-block dropdown-link animsition-link"><div>{{ item.title }}</div></a>
         {% else %}
            <li{{ item.attributes.addClass.addClass(classes) }}>
            <a href="{{ item.url }}">{{ item.title }}</a>
         {% endif %}
            {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
         {% endif %}
         </li>
      {% endfor %}
      </ul>
   {% endif %}
{% endmacro %}
