<div class="w-col w-col-4">
    <div class="align-center">
        <div class="data-blog cont-ico smll-ico">
            <div class="w-embed">
                {# {% if fields.field_image  %}
                    {{ fields.field_image.content }}
                {% else if fields.field_image_de_couverture  %}
                    {{ fields.field_image_de_couverture.content }}
                {% endif %} #}
                {% if fields.field_image %}
                    {{ fields.field_image.content }}
                {% else if fields.field_image %}
                    {{ fields.field_image.content }}
                {% endif %}
            </div>
        </div>
        <div class="cont-sub-txt">{{ fields.title.content }}</div>
    </div>
</div>