<div class="item">
	<div data-ix="hover-portfolio-content" class="portfolio-overlay wow fadeInUp">
		{{fields.field_image_de_couverture.content}}
		<a href="{{ fields.view_node.content|render|striptags|trim }}" data-ix="hide-portfolio-content-on-load" class="w-inline-block portfolio-content fancybox">
			<div class="portfolio-cn-title">

				<h4 data-ix="scale-portfolio-title-on-load" class="portfolio-title" {{title_attributes}}>
					{% autoescape %}
						{{fields.title.content|raw|striptags}}
					{% endautoescape %}
				</h4>

				<h5 data-ix="scale-portfolio-title-on-load" class="portfolio-title author">
					{{ fields.field_auteur.content|raw|striptags}}
				</h5>
			</div>
		</a>
	</div>

</div>
