
<div class="blog-minimal">
    <div class="data-blog">
        <i class="fa fa-envelope"></i>
    </div>
    <h3 class="blog-title"><a class="blog-title animsition-link" href="{{ fields.view_node.content|striptags}}">{{ fields.title.content|render|striptags|trim  }}</a></h3>
    <p class="meta-tag">Publié le : {{ fields.field_nouvelle_date.content }}</p>
    <div class="seperator center"></div>
    <p>{{ fields.body.content }}</p>
    <div class="small-spc">
      <a href="{{ fields.view_node.content|striptags}}" class="read-more animsition-link">Lire la suite&nbsp;›</a>
    </div>
</div>

