<div data-ix="blog-hover-zoom-photo" data-wow-duration="0.5s" class="wow slideInLeft w-clearfix space-mobile line-zig-zag">
	<div class="blog-zig-zag up-left">
		<div class="blog-content">
		  <h3 class="blog-title"><a class="blog-title animsition-link" href="{{ fields.view_node.content|striptags}}">{{ fields.title.content|render|striptags|trim  }}</a></h3>
		  <p class="meta-tag pls-category">Publié le : {{fields.field_publication_date.date.content}}</p>
		  <div class="seperator"></div>
      <p>{{fields.field_abstract.content}}</p>
      <div class="small-spc">
        <a href="{{ fields.view_node.content|striptags}}" class="read-more animsition-link">Lire la suite ›</a>
      </div>
    </div>
  </div>
  <div class="blog-zig-zag">
    <a href="{{ fields.view_node.content|striptags}}" class="w-inline-block blog-link animsition-link big-h-img">
      {{fields.field_image.content}}
    </a>
  </div>
</div>