<div class="blog-minimal">
    <div class="data-blog">
        <div class="w-embed">
            <i class="far fa-newspaper"></i>
        </div>
    </div>
    <h3 class="blog-title"><a target="_blank" rel="noopener noreferrer" class="blog-title animsition-link" href="{{ fields.view_node.content|striptags|trim }}">{{ fields.title.content }}</a></h3>
    <p><b>{{ fields.field_article_subtitle.content }}</b></p>
    <div class="meta-tag pls-category">{{ fields.field_author.content }}</div>
    <div class="seperator center"></div>
    <p>{{ fields.field_abstract_original_language.content }}</p>
    <div class="small-spc">
        <a href="{{ fields.view_node.content|striptags|trim }}" class="read-more animsition-link">Lire l’article ›</a>
    </div>
</div>
