<div id="intro" class="w-section banner-one window-size">
	<div class="video-wrapper">

		<div aria-labelledby="Image de Couverture du Numéro" class="w-embed">
			<div class="bigger-img" style="background-image:url('{{ file_url(row._entity.field_image.entity.uri.value) }}')"></div>
		</div>

		<a href='{{fields.view_node.content|striptags}}'>
			<div class="video-overlay"></div>
		</a>
	</div>
	<div itemscope itemtype="https://schema.org/Periodical" class="w-container container-contact">
		<div aria-labelledby="Informations sur le Numéro Informations sur la revue" class="align-center issue-banner">
			<a href='/' aria-labelledby="Lien vers l'Accueil">

				{% if fields.field_bandeau_intro %}
					{{ fields.field_bandeau_intro.content }}
				{% else %}
					<h1 class="inner-title" aria-labelby="Titre de la Revue" itemprop="name">{{fields.field_journal_title.content}}</h1>
				{% endif %}

			</a>
			<h2 class="inner-title" aria-labelby="Titre de la Revue" itemprop="name">{{fields.field_journal_subtitle.content}}</h2>
		</div>
		<div aria-labelledby="Informations sur le Numéro" itemprop="hasPart" itemscope itemtype="http://schema.org/PublicationVolume" class="align-center issue-banner single-issue">
			{% if fields.field_bandeau_numero %}
				{{ fields.field_bandeau_numero.content }}
			{% else %}
				<a href='{{fields.view_node.content|striptags}}'>
					<h2 class="inner-title" aria-labelledby="Titre du Numéro" itemprop="name">{{fields.title.content}}</h2>
				</a>
				<span class="sub-information" aria-labelledby="Numéro de la Revue" itemprop="issueNumber">{{ fields.field_issue_number.content|striptags }}</span>
				<span>
					-
				</span>
				<span class="sub-information" aria-labelledby="Date de la publication" itemprop="datePublished">{{ fields.field_publication_date.content|striptags}}</span>
			{% endif %}
		</div>
	</div>
</div>
