<div class="video-wrapper">

	<div class="w-embed embed-video">
		{{ fields.field_image.content }}
	</div>

	<a href='{{fields.view_node.content|striptags}}'>
		<div class="video-overlay"></div>
	</a>
</div>
<div class="w-container container-contact">
	<div class="align-center">
		<h1 class="inner-title" aria-labelby="Titre de la Revue">{{fields.field_journal_title.content}}</h1>
	</div>
	<div class="align-center season-issue">
		<a href='{{fields.view_node.content|striptags}}'>
			<h2 class="inner-title" aria-labelby="Titre du Numéro">{{fields.title.content|striptags}}</h2>
			<span class="sub-information" aria-labelby="Numéro de la Revue">#{{ fields.field_issue_number.content|striptags }}</span>
			<span class="sub-information" aria-labelby="Date de la publication">{{ fields.field_publication_date.content|striptags}}</span>
		</a>
	</div>
</div>
