<div class="blog-minimal">
    <div class="data-blog">
        <div class="w-embed">
            <i class="far fa-newspaper"></i>
        </div>
    </div>
    <h3 class="blog-title"><a class="blog-title animsition-link" href="{{ fields.view_node.content|render|striptags|trim }}">{{ fields.title.content }}</a></h3>
    <p><b>{{ fields.field_article_subtitle.content }}</b></p>
    {# <p class="meta-tag pls-category">Par {{ fields.field_author.content }}</p> #}
    <div class="seperator center"></div>
    <p>{{ fields.body.content }}</p>
    <div class="small-spc">
        <a href="{{ fields.view_node.content|render|striptags|trim }}" class="read-more animsition-link">En lire plus ›</a>
    </div>
</div>
