{% if region == 'region_baner' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h2 class="title">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'content' %}

      {{ title_prefix }}
      {{ title_suffix }}
      {% if content %}
        {{ content }}
      {% endif %}
{% elseif region == 'search' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'region_mid' %}
  <section{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <div class="title-wrapper left">
      <h2>{{ label }}</h2>
      <div><img src="{{ path_to_theme }}/images/sub-handmade.png" alt=""></div>
      </div>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </section>
{% elseif region == 'region_top' or region == 'region_bot' %}
  <section{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <div class="w-container">
      <div class="title-wrapper">
        <h2>{{ label }}</h2>
        {% if sub_title %}
          <div class="sub-text-title">{{ sub_title }}</div>
        {% endif %}
        <div><img src="{{ path_to_theme }}/images/sub-handmade.png" alt="handmade"></div>
      </div>
    {% endif %}
      {{ title_suffix }}
      {% if content %}
        {{ content }}
      {% endif %}
    {% if label %}
      </div>
    {% endif %}
  </section>

{% elseif region == 'footer' %} 
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
          {% if sub_title %}
            <h6>{{ sub_title }}</h6>
          {% endif %}
            <h2>{{ label}}</h2>
          </div>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'region_slider' %}
  <main{{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </main>
{% elseif region == 'region_messages' or region == 'region_tab'%}
  <div{{ attributes.addClass('region-tab') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% if content %}
    <div class="container">
      {{ content }}
    </div>
    {% endif %}
  </div>
{% elseif region == 'blog_sidebar' %}
<!-- blog_sidebar -->
  <div{{ attributes.addClass('sidebar-class') }}>
    {{ title_prefix }}
    {% if label %}
        <h4 class="post-title">{{ label }}</h4>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'service_sidebar' %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
    <h1>{{ label }}</h1>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% elseif region == 'breadcrumbs' %}
  <ol{{ attributes.addClass('breadcrumb') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </ol>
{% else %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h2 class="title">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
{% endif %}