<div{{ attributes }}>
	{{ title_prefix }}
	{{ title_suffix }}

    {% if label %}
		<div class="main-heading col-sm-12 no-padding">
			{% if sub_title %}
		      <h6>{{ sub_title }}</h6>
		    {% endif %}
			<h2>{{ label|render|str_replace_first('_', '<span>')|str_replace_first('_', '</span>')|raw }}</h2>
		</div>
    {% endif %}
	<div class="mailing-list">
	<p>{{ mailing_list_text|t }}</p>
		{% if content %}
			{{content}}
		{% endif %}
	</div>
</div>


