<div{{ attributes }}>
	{{ title_prefix }}
	{{ title_suffix }}
	{% if label %}
		<div class="w-container">
		<div class="title-wrapper">
			<h2>{{ label }}</h2>
			{% if sub_title %}
				<div class="sub-text-title">{{ sub_title }}</div>
				<div><img src="{{ path_to_theme }}/images/sub-handmade.png" alt="handmade"></div>
			{% endif %}
		</div>
	{% endif %}
	<div>
		<div data-widget-latlng="{{ data_widget_latlng|t }}" data-widget-style="roadmap" data-widget-zoom="14" data-disable-scroll="1" class="w-widget w-widget-map"></div>
	</div>
	<div class="port-item-spc">
		<div class="form-yaml-contact post-title">
			{% if content %}
				{{content}}
			{% endif %}
		</div>
	</div>
	{% if label %}
		</div>
	{% endif %}
</div>