{% block content %}
   <div{{ attributes }}>
   {{ title_suffix }}
      {% if site_logo %}
         <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="w-inline-block brand-logo animsition-link">
            <img width="135" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
         </a>
      {% endif %}
      {% if site_name %}
         <a class="w-inline-block brand-logo" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      {% endif %}
      {% if site_slogan %}
         <div class="w-inline-block brand-logo">{{ site_slogan }}</div>
      {% endif %}
   </div>
{% endblock %}