<div{{attributes}} class="product">
<h2 >{{product.title}}</h2>
	<section class="w-section subscription-post-banner " style="background-image:url('{{ file_url(product_entity.field_image_de_couverture.entity.fileuri) }}')">
		<div class="align-center"></div>
	</section>

	<section id="sommaire">
		<p>
			{{product.body}}
			{{product.variations}}
		</p>
	</section>
</div>

