<!-- TOP BORDER -->
<div class="top-border">
   <div class="w-row">
      <div class="w-col w-col-6 w-clearfix more-margin logo-width-135">
         {{ page.logos }}
      </div>
      <div class="w-col w-col-6">
        <div class="social-wrapper">
          <div data-ix="cart-product" class="social-icon shop-cart">
            <div class="w-embed"><i class="fa fa-shopping-cart"></i>
            </div>
            <div data-ix="cart-hide" class="cart-product mini-cart">
               {{ page.cart }}
            </div>
         </div>
         </div>
      </div>
   </div>
</div>
<!-- LEFT BORDER -->
<div class="left-border">
   <div data-ix="show-overlay-menu-on-click" class="w-embed move-center-hamb">
      <button class="c-hamburger c-hamburger--htla">
      <span>toggle menu</span>
      </button>
   </div>
</div>
<!-- RIGHT BORDER -->
<div class="right-border"></div>
<!-- BOTTOM BORDER -->
<div class="bottom-border">
    <div class="w-row">
      <div class="w-col w-col-6">
         <div class="align-left">
            {{ border_social|t }}
         </div>
      </div>
      <div class="w-col w-col-6">
         <div class="w-hidden-medium w-hidden-small w-hidden-tiny title-top-border">
            {{ border_massage|t }}
         </div>
      </div>
   </div>
</div>
<div data-ix="hide-overlay-menu-on-load" class="overlay-menu">
   <div class="w-container port-contatiner">
         <!-- main-menu -->
         {{ page.main_menu }}
   </div>
</div>
<!-- RESPONSIVE NAVIGATION -->
<div class="w-hidden-main">
   <div class="responsive-menu">
      <div class="w-container more-margin logo-width-135">
         {{ page.logos }}
         <div data-ix="open-responsive-menu" class="hamburger">
            <div class="w-embed">
               <button class="c-hamburger c-hamburger--htx">
               <span>toggle menu</span>
               </button>
            </div>
         </div>
      </div>
   </div>
   <nav class="responsive-nav">
      <div class="w-container">
         {{ page.mobile_menu }}
      </div>
   </nav>
</div>
