  <!-- TOP BORDER -->
  <div class="top-border">
    <div class="w-row">
      <div class="w-col w-col-2 w-clearfix logo-width-120">
        {{ page.logos_photo }}
      </div>
      <div class="w-col w-col-8">
        <div>
          <!-- NAVIGATION -->
          {{ page.main_menu_photo }}
         <!-- END NAVIGATION -->
        </div>
      </div>
      <div class="w-col w-col-2">
        <div class="social-wrapper">
          {{ border_social|t }}
        </div>
      </div>
    </div>
  </div>
  
  <!-- LEFT BORDER -->
  <div class="left-border"></div>
  
  <!-- RIGHT BORDER -->
  <div class="right-border"></div>
  
  <!-- BOTTOM BORDER -->
  <div class="bottom-border">
    <div class="w-hidden-medium w-hidden-small w-hidden-tiny title-top-border make-center">
      <div>{{ border_massage|t }}</div>
    </div>
  </div>
  
  <!-- RESPONSIVE NAVIGATION -->
  <div class="w-hidden-main">
    <div class="responsive-menu">
      <div class="w-container logo-width-131">
         {{ page.logos_photo }}
        <div data-ix="open-responsive-menu" class="hamburger">
          <div class="w-embed">
            <button class="c-hamburger c-hamburger--htx">
              <span>toggle menu</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="responsive-nav">
      <div class="w-container">
      {{ page.mobile_menu_photo }}
      </div>
    </div>
  </div>
