<!-- TOP BORDER -->
  <div class="top-border">
    <div class="w-row">
      <div class="w-col w-col-3 w-clearfix logo-width-80">
      {{ page.logo_onepage }}
      </div>
      <div class="w-col w-col-9 w-clearfix">
        {{ page.main_onepage }}
      </div>
    </div>
  </div>
<!-- LEFT BORDER -->
  <div class="left-border"></div>
<!-- RIGHT BORDER -->
<div class="right-border"></div>
<!-- BOTTOM BORDER -->
<div class="bottom-border">
 <div class="w-row">
   <div class="w-col w-col-6">
     <div class="align-left">
      {{ border_social|t }}
     </div>
   </div>
   <div class="w-col w-col-6">
     <div class="w-hidden-medium w-hidden-small w-hidden-tiny title-top-border">
       <div> {{ border_massage|t }}</div>
     </div>
   </div>
 </div>
</div>
<!-- RESPONSIVE NAVIGATION -->
  <div class="w-hidden-main">
    <div class="responsive-menu">
      <div class="w-container logo-width-100">
        {{ page.logo_onepage }}
        </a>
        <div data-ix="open-responsive-menu" class="hamburger">
          <div class="w-embed">
            <button class="c-hamburger c-hamburger--htx">
              <span>toggle menu</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="responsive-nav">
      <div class="w-container">
      {{ page.mobile_onepage }}
      </div>
    </div>
  </div>
