<div id="block-pieddepage">
	{{ title_prefix }}
	{% if label %}

		<div class="title-wrapper" >

			<h2{{title_attributes}}>{{ label }}</h2>
			<div><img alt="soulignement de titre" src="http://percees.aegir8.uqam.ca/{{base_path ~ directory }}/images/sub-handmade.png"></div>
		</div>

	{% endif %}
	{{ title_suffix }}
	{% block content %}
		{{ content }}
	{% endblock %}
</div>
