{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{attributes.addClass(classes)}}>
	{% if title  %}

		{{ title_prefix }}
		{{ title }}
		{{ title_suffix }}
	{% endif %}

	{% if header %}
		<header class="header-presentation">
			{{ header }}
		</header>
	{% endif %}

	{{ exposed }}
	{{ attachment_before }}

	{% if rows -%}
		<!-- CONTENU -->
		<section id="filter" class="w-section section-imp">
			<div class="w-container">
				<div id="grid" class="w-clearfix grid">
					<div class="grid-sizer"></div>
					{{ rows }}
				</div>
			</div>
		</div>
	</section>
{% elseif empty -%}
	{{ empty }}
{% endif %}
{{ pager }}

{{ attachment_after }}
{{ more }}

{% if footer %}
	<footer>
		{{ footer }}
	</footer>
{% endif %}

{{ feed_icons }}</div>
