{# AFFICHAGE SI C'EST SEULEMENT UN TEASER  #}
{% set type %}
{% spaceless %}
	{{ node.type.0.target_id|raw|trim|lower }}
{% endspaceless %}
{% endset %}
{% if teaser %}
	{# EN FONCTION DU TYPE DE NODE #}

	{% if "article" == type %}
		<a class="lecture-content" href="{{ url }}">
			<span>{{node.label}}</span>
		</a>
	{% elseif type == "contributor" %}
		<a href='{{ url }}'>
			<b>{{ node.label }}</b>
		</a>

		{% set conBody %}
		{{ content.body }}
		{% endset %}

		<p>{{ conBody|striptags }}</p>

	{% elseif type == "issue" %}
		<div data-ix="blog-hover-zoom-photo" data-wow-duration="0.5s" class="wow slideInLeft w-clearfix space-mobile line-zig-zag">
			<div class="blog-zig-zag up-left">
				<div class="blog-content">
					<h3 class="blog-title">
						<a class="blog-title animsition-link" href="{{ url}}">{{ label  }}</a>
					</h3>
					<p class="meta-tag pls-category">
						<div class="sub-information">
							<span aria-labelledby="Numéro de la Revue" itemprop="issueNumber">{{ content.field_issue_number }}</span>
							-
							<span aria-labelledby="Date de la publication" itemprop="datePublished">{{ content.field_publication_date}}</span>
						</div>
					</p>
					<div class="seperator"></div>
					<p>{{content.field_abstract}}</p>
					<div class="small-spc">
						<a href="{{ url}}" class="read-more animsition-link">Lire la suite ›</a>
					</div>
				</div>
			</div>
			<div class="blog-zig-zag">
				<a href="{{ url }}" class="w-inline-block blog-link animsition-link big-h-img">
					{{ content.field_image }}
				</a>
			</div>
		</div>
	{% elseif type == "nouvelles" %}

		<div itemscope itemtype="http://schema.org/BlogPosting" aria-labelledby="Article d'Actualité" class="blog-minimal">
			<div class="data-blog">
				<i class="fa fa-envelope"></i>
			</div>
			<h3 itemprop="headline" aria-labelledby="Titre de l'actualité" class="blog-title">
				<a class="blog-title animsition-link" aria-labelledby="Lien vers Actualite" href="{{url }}">{{ label  }}</a>
			</h3>
			<p class="meta-tag" aria-labelledby="Date de Publication" itemprop="datePublished">Publié le :
				{{ content.field_nouvelle_date }}</p>
			<div class="seperator center"></div>
			<p itemprop="backstory" aria-labelledby="Contenu de l'actualité">{{ content.body }}</p>
			<div class="small-spc">
				<a aria-labelledby="Lien Lire la suite" href="{{ url }}" class="read-more animsition-link">Lire la suite ›</a>
			</div>
		</div>
	{% elseif type == "dossier_vivarium" %}
		<div data-ix="blog-hover-zoom-photo" data-wow-duration="0.5s" class="wow slideInLeft w-clearfix space-mobile line-zig-zag">
			<div class="blog-zig-zag">
				<div class="blog-content">
					{% if node.field_num_pub.value  %}
						<span class="meta-tag">{{ content.field_num_pub|raw }}</span>
					{% endif %}

					<h3 class="blog-title">
						<a class="blog-title animsition-link" href="{{ url}}">{{ label  }}</a>
					</h3>
					<p class="meta-tag">Sous la responsabilité de
						{{ content.field_responsable_dossier|raw }}</p>
					<div class="seperator"></div>
					<p>{{content.body}}</p>
					<div class="small-spc">
						<a href="{{ url}}" class="read-more animsition-link">Lire la suite&nbsp;›</a>
					</div>
				</div>
			</div>
			<div class="blog-zig-zag">
				<a href="{{ url}}" class="w-inline-block blog-link animsition-link">
					{{content.field_image_de_couverture}}
				</a>
			</div>
		</div>
	{% elseif type == "partenaire" %}
		<div class="logo">
			<a href="{{ url}}">
				{{ content.field_logo }}
			</a>
		</div>
	{% elseif type == "recit" or type == "la_ruche" or type == "echappee" or type == "article_web" %}
		<div class="lecture-content">
			<div class="preview">
				{{ content.field_image_de_couverture }}
			</div>
			<a href="{{url}}">
				<span>{{node.label}}</span>
			</a>
		</div>

	{% elseif type == "dossier" %}
		{% set type_dossier %}
		{{ content.field_type_dossier }}
		{% endset %}
		{% set type_dossier = type_dossier|striptags|trim %}
		{% if type_dossier == "Dossier" %}
			<div data-ix="blog-hover-zoom-photo" data-wow-duration="0.5s" class="wow slideInLeft w-clearfix space-mobile line-zig-zag">
				<div class="blog-zig-zag up-left">
					<div class="blog-content">
						<h3 class="blog-title">
							<a class="blog-title animsition-link" href="{{ url }}">{{ label }}</a>
						</h3>
						{% if content.field_editor  %}
							<div class="meta-tag">Sous la responsabilité de
								{{ content.field_editor }}</div>
						{% endif %}

					</div>
				</div>
				<div class="blog-zig-zag">
					<a href="{{ url }}" class="w-inline-block blog-link animsition-link big-h-img">
						{{ content.field_image }}
					</a>
				</div>
			</div>
		{% else %}
			<div class="w-col w-col-6">
				<div class="w-clearfix service-wrapper wow fadeIn" data-wow-delay="0.3s">
					<div class="service-icon">
						<div class="w-embed">
							{% if type_dossier == 'Documents' %}
								<i class="fas fa-folder"></i>
							{% elseif type_dossier == "Pratiques et travaux" %}
								<i class="fas fa-book"></i>
							{% elseif type_dossier ==  "Parcours critique" %}
								<i class="far fa-comment"></i>
							{% elseif type_dossier ==  "Revue des revues" %}
								<i class="fas fa-book-open"></i>
							{% elseif type_dossier ==  "Notes de lecture" %}
								<i class="fas fa-sticky-note"></i>
							{% else %}
								<i class="fa fa-envelope-o"></i>
							{% endif %}
						</div>
					</div>
					<div class="service-content">
						<a href="{{ url }}">
							<h4 class="service-title">{{ type_dossier }}</h4>
						</a>
					</div>
				</div>
			</div>
		{% endif %}
	{% else %}
		{{ content }}
	{% endif %}
	{# AFFICHAGE SI C'EST L'AFFICHAGE COMPLET  #}
{% else %}
	<article{{attributes}}>

		{{ title_prefix }}
		{% if not page %}
			<h2{{title_attributes}}>
				<a href="{{ url }}" rel="bookmark">{{ label }}</a>
			</h2>
		{% endif %}
		{{ title_suffix }}

		<div{{content_attributes}}>

			{# EN FONCTION DU TYPE DE NODE #}

			{% if type == "article" %}
				<main id="contenu" class="w-section section-imp">
					<h2>{{ label }}</h2>

					<h3 class="title-wrapper">{{ content.field_article_subtitle }}</h3>
					<div class="w-container issue-article">
						<div
							class="w-row">
							{# SIDEBAR #}
							{% if  node.field_author.value or  node.field_tags.value or node.field_lectures_connexes.value %}
								<div
									class="w-col w-col-3">

									{# Auteurs #}
									{% if node.field_author.value %}
										<div class="sidebar-class">
											<h4 class="post-title">Auteur(s)</h4>
											{{content.group_article_informations.field_author }}
										</div>
									{% endif %}
									{% if  node.field_tags.value %}
										{# Mots-Clés #}
										<div class="views-element-container sidebar-class">
											<h4 class="post-title">Mots-clés</h4>

											<div class="w-clearfix">
												{{ content.group_article_informations.field_tags }}
											</div>
										</div>
									{% endif %}


									{# Lectures Connexes #}
									{% if node.field_lectures_connexes.value  %}
										<div class="views-element-container sidebar-class">
											<div data-duration-in="300" data-duration-out="100" class="w-tabs tabs left-alg">
												<h4 class="post-title">Lectures Connexes</h4>
												{{ content.field_lectures_connexes }}
											</div>

										</div>
									{% endif %}

								</div>
								<div class="w-col w-col-9">
								{% else %}
									<div class="w-col w-col-12">
									{% endif %}

									{# Body #}

									<div class="bottom-space">
										{% if node.body.value  %}
											{{ content.body }}
										{% else %}
											<p>Abonnez-Vous</p>
										{% endif %}
									</div>

								</div>
							</div>

							{# Notes et Biblio #}
							<ul class="nav nav-tabs">
								{% if node.field_pour_citer.value  %}
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#Notes">Notes</a>
									</li>
								{% endif %}
								{% if node.field_bibliographic_reference.value %}
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#biblio">Bibliographie</a>
									</li>
								{% endif %}
								{% if node.field_pdf.value %}
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#pdf">Article PDF</a>
									</li>
								{% endif %}
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								{% if node.field_pour_citer.value   %}
									<div class="tab-pane container active" id="Notes">
										<p>{{content.field_pour_citer}}</p>
									</div>
								{% endif %}
								{% if  node.field_bibliographic_reference.value %}
									<div class="tab-pane container fade" id="biblio">
										<p>{{content.field_bibliographic_reference}}</p>
									</div>
								{% endif %}
								{% if node.field_pdf.value %}
									<div class="tab-pane container fade" id="pdf">
										<p>{{content.field_pdf}}</p>
									</div>
								{% endif %}
							</div>
						</div>
					</main>
				{% elseif type == "echappee" %}
					<section>
						<h4 class="post-title">Auteur(s)</h4>
						{{ content.field_author }}
						<div class="views-element-container sidebar-class"></div>
					</section>
					<section>
						<h4 class="post-title">Lectures connexes</h4>

						<div class="lectures">
							{{ content.field_lectures_connexes }}
						</div>
						<div class="views-element-container sidebar-class"></div>
					</section>
					<div>
						<h4 class="post-title">Mots-Clés</h4>

						<div class="w-clearfix">
							{{ content.field_mots_cles}}
						</div>
						<div class="views-element-container sidebar-class"></div>
					</div>

					<p>
						{{ content.body }}
					</p>


					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#Notes">Notes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#biblio">Bibliographie</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane container active" id="Notes">
							<p>{{content.field_pour_citer}}</p>
						</div>
						<div class="tab-pane container fade" id="biblio">
							<p>{{content.field_biblio}}</p>
						</div>
					</div>
				{% elseif type == "contributor" %}
					<main class="w-section section-imp more-padding">
						<div class="w-container">
							<div class="w-row">
								<div class="w-col w-col-12 ">
									<div class="infos-auteur">
										{% if  node.field_statut_individu.value  %}
											{{content.field_statut_individu}}
										{% endif %}
										{% if  node.field_institution.value %}
											{{content.group_contributor_informations.field_institution}}
										{% endif %}
										{% if  node.field_author_digital_identifier.value  %}
											{{content.group_contributor_informations.field_author_digital_identifier}}
										{% endif %}
									</div>
									{% if  node.body.value  %}
										{{content.body}}
									{% endif %}
									{% if  node.field_links.value  %}
										{{content.field_links}}
									{% endif %}
									{% if  node.field_bibliographic_reference.value  %}
										{{content.field_bibliographic_reference}}
									{% endif %}
								</div>
							</div>
							<div>
								{% if (contents_on_contributor_entity_view_1.value is empty or contents_on_contributor_entity_view_2.value is empty) %}
									<div class="title-wrapper">
										<h3>Contenu du contributeur</h3>
										<img src="http://annuairetheatral.aegir8.uqam.ca/{{base_path ~ directory }}/images/sub-handmade.png">
									</div>
									<div>
										{{ contents_on_contributor_entity_view_1 }}
										{{ contents_on_contributor_entity_view_2 }}
									</div>
								{% endif %}
							</div>
						</div>
					</main>
				{% elseif type == "partenaire" %}
					<div class="w-row">
						<div class="w-col w-col-3">
							{{content.field_logo}}
						</div>
						<div class="w-col w-col-9">
							{{content.body}}
						</div>
					</div>
				{% elseif type == "dossier_vivarium" %}

					<section class="w-section blog-post-banner" style="background-image:url('{{ file_url(node.field_image_de_couverture.entity.fileuri) }}')">
						<h2 class="inner-title">{{ label }}</h2>
						<div>
							{% if node.field_responsable_dossier.value  %}
								<div class="sub-text-title">
									Sous la responsabilité de
									{{ content.field_responsable_dossier|raw }}
								</div>
							{% endif %}

							<div class="sub-text-title">
								{% if node.field_num_pub.value  %}
									{{ content.field_num_pub|raw }}
								{% endif %}
								{% if node.field_date_pub.value and node.field_num_pub.value %}
									,
								{% endif %}
								{% if node.field_date_pub.value  %}
									{{ content.field_date_pub|raw }}
								{% endif %}
							</div>
							<div class="arrow-down">
								<a href="#sommaire" class="w-inline-block icon-scroll"></a>
							</div>
						</div>
					</section>

					{% if node.body.value  %}
						<section id="presentation">
							<h4 class="post-title">Présentation</h4>
							{{ content.body }}
							<div class="views-element-container sidebar-class"></div>
						</section>
					{% endif %}

					{% if node.field_mots_cles.value  %}

						<section id="tag">
							<h4 class="post-title">Mots-clés</h4>
							<div class="w-clearfix">
								{{ content.field_mots_cles }}
							</div>

							<div class="views-element-container sidebar-class"></div>
						</section>
					{% endif %}

					<section id="sommaire">
						<h4 class="post-title">Sommaire du Vivarium</h3>
						<div id="grid" class="w-clearfix grid grid-not-margin" style="position: relative; height: 3094px;">
							<div class="grid-sizer"></div>
							{{ content.article_on_dossier_vivarium_entity_view_1 }}
						</div>
						<div class="views-element-container sidebar-class"></div>

					</section>


					{% if node.field_pour_citer.value  %}
						<section id="Notes">
							<h4 class="post-title">Notes</h4>
							<p>{{ content.field_pour_citer }}</p>
						</section>
					{% endif %}

				{% elseif type == "recit" %}
					<div id="intro" class="w-section banner-one window-size">
						<div class="video-wrapper">
							<div class="w-embed embed-video">
								{{ content.field_image_de_couverture }}
							</div>
							<div class="video-overlay"></div>
						</div>
						<div class="w-container container-contact">
							<div class="align-center issue-banner">
								<h2 class="inner-title">{{ label }}</h2>
								{% if  node.field_artiste_invite.value %}
									<div class="sub-text-title">
										Artiste invité :
										{# {{ content.field_artiste_invite }} #}
										<a href="{{ node.field_artiste_invite.0.entity.path.value|raw}}">
											{{ node.field_artiste_invite.0.entity.label|raw}}
										</a>
									</div>
								{% endif %}
								{% if  node.field_interviewer.value %}
									<div class="sub-text-title">
										Interviewer :
										{# {{ content.field_interviewer}} #}
										<a href="{{ node.field_interviewer.0.entity.path.value|raw}}">
											{{ node.field_interviewer.0.entity.label|raw}}
										</a>

									</div>
								{% endif %}
							</div>
						</div>
					</div>

					<main>
						<div class="w-row">
							<div class="w-col w-col-8">

								{{content.body}}

							</div>
							<div class="w-col w-col-4">
								<aside>
									{% if  node.field_artiste_invite.value %}
										<h4 class="post-title">Artiste</h4>
										{{ content.field_artiste_invite }}
									{% endif %}
									{% if  node.field_interviewer.value %}
										<h4 class="post-title">Interviewer</h4>
										{{ content.field_interviewer }}
									{% endif %}
									{% if node.field_lectures_connexes.value  %}
										<h4 class="post-title">Lectures Connexes</h4>
										{{ content.field_lectures_connexes }}
									{% endif %}
								</aside>
							</div>
						</div>
					</main>
					{% if  node.field_pour_citer.value or node.field_biblio.value %}

						<ul class="nav nav-tabs">


							{% if node.field_pour_citer.value  %}
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#Notes">Notes</a>
								</li>
							{% endif %}
							{% if node.field_biblio.value  %}
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#biblio">Bibliographie</a>
								</li>
							{% endif %}
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							{% if node.field_pour_citer.value  %}
								<div class="tab-pane container active" id="Notes">
									<p>{{content.field_pour_citer}}</p>
								</div>
							{% endif %}
							{% if node.field_biblio.value  %}
								<div class="tab-pane container fade" id="biblio">
									<p>{{content.field_biblio}}</p>
								</div>
							{% endif %}
						</div>
					{% endif %}
				{% elseif type == "dossier" %}
					{% set type %}
					{{ content.field_type_dossier }}
					{% endset %}
					{% if type|striptags|trim == "Dossier" %}

						<div id="intro" class="w-section banner-one window-size">
							<div class="video-wrapper">
								<div aria-labelledby="Image de couverture du Dossier" class="w-embed embed-video">
									{{ content.field_image }}
								</div>
								<div class="video-overlay"></div>
							</div>
							<div class="w-container container-contact">

								<div class="align-center issue-banner">
									<h1 class="inner-title" aria-labelby="Titre du Dossier" itemprop="name">{{ label }}</h1>
								</div>
								<div aria-labelledby="Informations sur le Dossier" class="align-center season-issue">
									<div class="sub-information line" aria-labelledby="Editeur du Dossier">Sous la responsabilité de
										{{ content.group_dossier_informations.field_editor}}</div>
									<div class="sub-information line" aria-labelledby="Revue Parent du Dossier">Dans le numéro
										{{ content.group_dossier_informations.field_issue}}</div>
								</div>
							</div>
						</div>
					{% else %}
						<h1 aria-labelby="Titre du Dossier" itemprop="name">{{ type|striptags|trim }}
							-
							{{ content.group_dossier_informations.field_issue }}
						</h1>
					{% endif %}


					<section id="sommaire" class="w-section section-imp">
						<div class="w-container">
							<div class="title-wrapper">
								<h2>Sommaire</h2>
								<img src="http://annuairetheatral.aegir8.uqam.ca/{{base_path ~ directory }}/images/sub-handmade.png">
							</div>
							<div>
								{{ content.group_contents.articles_dossier_entity_view_1 }}
							</div>
						</div>
					</section>

				{% elseif type == "nouvelles" %}
					<div>{{ content.field_nouvelle_date }}</div>
					<div>{{ content.field_lieu }}</div>

					<p>
						{{ content.body }}
					</p>


					<div class="doc">
						{{ content.field_doc }}
					</div>

				{% elseif type == "issue" %}
					<div id="intro" class="w-section banner-one window-size">
						{% if  node.field_image.value %}
							<div class="video-wrapper">
								<div class="w-embed">
									<div class="bigger-img" style="background-image:url('{{ file_url(node.field_image.entity.fileuri) }}')"></div>
								</div>
								<div class="video-overlay"></div>
							</div>
						{% endif %}
						{% if label %}
							<div itemscope itemtype="https://schema.org/PublicationVolume" class="w-container container-contact">
								<div class="align-center issue-banner">
									<h1 class="inner-title" aria-labelby="Titre du Numero" itemprop="name">{{node.label}}</h1>
									<span class="sub-information" aria-labelledby="Numéro de la Revue" itemprop="issueNumber">{{ content.field_issue_number }}</span>
									<span class="sub-information" aria-labelledby="Date de la publication" itemprop="datePublished">{{ content.field_publication_date}}</span>
								</div>
							</div>
						{% endif %}

					</div>
					{% for key in node|keys %}
						{{ key }}
					{% endfor %}

					{% if content.group_contents.editorial_issue_entity_view_1|render  %}

						<section id="editorial">
							<span class="editorial-name">Editorial</span>
							{{ content.group_contents.editorial_issue_entity_view_1 }}
						</section>
					{% endif %}
					{% if content.group_contents.dossiers_on_issue_entity_view_1|render  %}
						<section id="dossiers">
							<div class="w-row">
								{{ content.group_contents.dossiers_on_issue_entity_view_1 }}
							</div>
						</section>
					{% endif %}
					{% if content.group_contents.hors_dossiers_on_issue_entity_view_1|render  %}
						<section id="hors-dossiers">
							<div class="w-row">
								{{ content.group_contents.hors_dossiers_on_issue_entity_view_1 }}
							</div>
						</section>
					{% endif %}
					{% if content.group_contents.individual_articles_entity_view_1|render  %}
						<section id="individuel">
							<div class="w-row">
								{{content.group_contents.individual_articles_entity_view_1}}
							</div>
						</section>
					{% endif %}
				{% elseif type == "article_web" or type == "la_ruche"%}
					<div class="w-section blog-post-banner" style="background-image:url('{{ file_url(node.field_image_de_couverture.entity.fileuri) }}')">
						<h2 class="inner-title">{{ label }}</h2>
						{% if content.field_dossier_vivarium  %}
							{% if node.field_dossier_vivarium.value  %}
								<p class="sub-text-title">{{ content.field_dossier_vivarium }}</p>
							{% endif %}
						{% endif %}

						<div class="arrow-down">
							<a href="#contenu" class="w-inline-block icon-scroll"></a>
						</div>
					</div>
					<main id="contenu" class="w-section section-imp">
						<div class="w-container">
							<div
								class="w-row">
								{# SIDEBAR #}
								{% if node.field_auteur.value or node.field_mots_cles.value or node.field_lectures_connexes.value %}
									<div
										class="w-col w-col-3">

										{# Auteurs #}
										{% if node.field_auteur.value  %}
											<div class="sidebar-class">
												<h4 class="post-title">Auteur(s)</h4>
												{{content.field_auteur }}
											</div>
										{% endif %}

										{# Mots-Clés #}
										{% if  node.field_mots_cles.value %}
											<div class="views-element-container sidebar-class">
												<h4 class="post-title">Mots-clés</h4>

												<div class="w-clearfix">
													{{ content.field_mots_cles }}
												</div>
											</div>
										{% endif %}

										{# Lectures Connexes #}
										{% if node.field_lectures_connexes.value  %}

											<div class="views-element-container sidebar-class">
												<div data-duration-in="300" data-duration-out="100" class="w-tabs tabs left-alg">
													<h4 class="post-title">Lectures Connexes</h4>
													{{ content.field_lectures_connexes }}
												</div>
											</div>
										{% endif %}

									</div>
									<div class="w-col w-col-9">
									{% else %}
										<div class="w-col w-col-12">
										{% endif %}
										{# Body #}
										<div class="bottom-space">
											{{ content.body }}
										</div>

									</div>
								</div>
								{% if node.field_pour_citer.value or node.field_biblio.value %}

									{# Notes et Biblio #}
									<ul class="nav nav-tabs">
										{% if node.field_pour_citer.value %}
											<li class="nav-item">
												<a class="nav-link active" data-toggle="tab" href="#Notes">Notes</a>
											</li>
										{% endif %}
										{% if node.field_biblio.value %}
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#biblio">Bibliographie</a>
											</li>
										{% endif %}
									</ul>

									<!-- Tab panes -->
									<div class="tab-content">
										{% if node.field_pour_citer.value %}
											<div class="tab-pane container active" id="Notes">
												<p>{{content.field_pour_citer}}</p>
											</div>
										{% endif %}
										{% if node.field_biblio.value %}
											<div class="tab-pane container fade" id="biblio">
												<p>{{content.field_biblio}}</p>
											</div>
										{% endif %}
									</div>
								{% endif %}
							</div>
						</main>
					{% else %}
						{{ content }}

					{% endif %}


				</div>

			</article>
		{% endif %}
