
<header class="top-border">
	<div class="w-row">
        <div class="w-col w-col-2 w-clearfix">
          <a href="index.html" class="w-inline-block brand-logo animsition-link">
		  	    {{ page.branding }}
          </a>
        </div>
        <div class="w-col w-col-8">
          <div>
            <!-- NAVIGATION -->
            <nav class="navigation-type-3">
              <ul class="w-list-unstyled">
                {{page.header}}
              </ul>
            </nav>
            <!-- END NAVIGATION -->
          </div>
        </div>
        <div class="w-col w-col-2">
          <div class="social-wrapper">
            {{page.nav_social}} 
          </div>
        </div>
      </div>
    </header>

      {{page.sidebar_left}}
      {{page.content }}
      {{page.sidebar_right}}

  <footer class="footer">
    <div class="w-container">
      <div class="w-row">
        {{page.footer}}
      </div>
    </div>
  </footer>
  <div class="bottom-border">
    <div class="w-row">
       {{page.copyright}}
    </div>
  </div>
