{{page.navigation }}
<header class="top-border">
	<div class="w-row">
        <div class="w-col w-col-2 w-clearfix">
          <a href="index.html" class="w-inline-block brand-logo animsition-link">
		  	{{ page.branding }}
          </a>
        </div>
        <div class="w-col w-col-8">
          <div>
            <!-- NAVIGATION -->
            <nav class="navigation-type-3">
              <ul class="w-list-unstyled">
				{{page.header}}
              </ul>
            </nav>
            <!-- END NAVIGATION -->
          </div>
        </div>
        <div class="w-col w-col-2">
          <div class="social-wrapper">
            {{page.nav_social}} 
          </div>
        </div>
      </div>
    </header>


{{page.sidebar_left}}
{{page.content }}
{{page.sidebar_right}}

  <footer class="footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
            <h3>Explorer</h3>
            <ul id="menu-secondaire">
				{{page.secondary_menu}}
            </ul>
        </div>
        <div class="w-col w-col-4">
          <div class="contact-wrapper">
            <div class="data-blog cont-ico">
              <i class="icon-basic-geolocalize-05"></i>
            </div>
            <div class="cont-sub-txt">Lorem, ipsum dolor.</div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
        <div class="w-col w-col-4">
            <h3>Partenaires</h3>
            <div class="container">
                <div class="row">
                    {{page.partners}}
                </div>
            </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="bottom-border">
    <div class="w-row">
      <div class="w-col w-col-6">
        <div class="align-left">
          <a href="#" class="w-inline-block social-icon facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="w-inline-block social-icon twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="w-inline-block social-icon behance">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#" class="w-inline-block social-icon instagram">
            <i class="fa fa-behance"></i>
          </a>
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny title-top-border">
          <div>Annuaire Théâtral 2020.&nbsp;ALL RIGHTS RESERVED.</div>
        </div>
      </div>
    </div>
  </div>
