
<header class="top-border">
	<div class="w-row">
    <div class="w-col w-col-2 w-clearfix">
      <a href="index.html" class="w-inline-block brand-logo animsition-link">
		  	{{ page.branding }}
      </a>
    </div>
    <div class="w-col w-col-8">
      <div> 
        <nav class="navigation-type-3">
          {{page.navigation_menu}}
        </nav>
      </div>
    </div>
    <div class="w-col w-col-2">
      <div class="social-wrapper">
        {{page.nav_social}} 
      </div>
    </div>
  </div>
</header>

{% if page.header %}
<div id="intro" class="w-section banner-one">
  <div class="banner-content">
    {{page.header}}
    <div class="grayed"></div>
  </div>
</div>
{% endif %}

<main class="container">
	<div class="row">
		{% if page.sidebar_left %}	
		{% block sidebar_left %}
		<section class="col-sm-4 sidebar-left"  role="complementary">
			{{ page.sidebar_left }}
		</section>
		{% endblock %}
		{% endif %}


		{# Content #}
		{%
		set content_classes = [
		page.sidebar_left and page.sidebar_right ? 'col-sm-4',
		page.sidebar_left and page.sidebar_right is empty ? 'col-sm-8',
		page.sidebar_right and page.sidebar_left is empty ? 'col-sm-8',
		page.sidebar_left is empty and page.sidebar_right is empty ? 'col-sm-12'
		]
		%}
    
		<section{{ content_attributes.addClass(content_classes) }}>
			{% block content %}
        {% if page.info_filter %}
          <div>
            <div class="w-clearfix filter-cont">
              <div data-ix="open-filter-menu" class="w-clearfix show-filter">
                <div class="filter-button">
                  <div class="w-embed">
                    <i class="fa fa-filter"></i>
                  </div>
                </div>
                <div class="w-clearfix filter-effect">
                  <div data-ix="hide-filter-opacity-0" class="filter-txt" style="opacity: 0;">Cacher</div>
                  <div class="filter-txt-hide">Voir les filtres</div>
                </div>
              </div>
              <div data-ix="move-filter-content-on-load" class="w-clearfix filters button-group" style="opacity: 0; transform: translateX(0px) translateY(-25px) translateZ(0px); display: none;">
                <a href="#" data-filter="*" class="button">Tous</a>
                <a href="#" data-filter=".vivarium" class="button">Dossiers Vivarium</a>
                <a href="#" data-filter=".ruche" class="button">La Ruche</a>
                <a href="#" data-filter=".recits" class="button">Récits de pratique</a>
                <a href="#" data-filter=".echapees" class="button">Échapées</a>
              </div>
            </div>

            {{page.info_filter}}
          </div>
        {% endif %}
				{{ page.content }}
			{% endblock %}
		</section>	

		{% if page.sidebar_right %}
      {% block sidebar_right %}
        <section class="col-lg-4 sidebar-right" role="complementary">
          {{ page.sidebar_right }}
        </section>
      {% endblock %}
		{% endif %}

	</div>

</main>


{% if page.footer %}
<footer class="footer">
  <div class="w-container">
    <div class="w-row">
      {{page.footer}}
    </div>
  </div>
</footer>
{% endif %}

{% if page.copyright %}
  <div class="bottom-border">
    <div class="w-row">
      {% if page.nav_social %}
        <div class="w-col w-col-6">
          <div class="align-left">
            {{page.nav_social}}
          </div>
        </div>
      {% endif %}
      <div class="w-col w-col-6">
        <div class="w-hidden-medium w-hidden-small w-hidden-tiny title-top-border">
          {{page.copyright}}
        </div>
      </div>
    </div>
  </div>
{% endif %}
