{% if user_picture %}
{% set url = getSrcFromImgTag(user_picture|render) %}
{% endif %}
<div class="w-clearfix comments-wrapper">
  <div class="comment-icon" style="background-image:url('{{ url }}')"></div>
  <div class="w-clearfix comment-content">
    <div class="w-clearfix show-filter reply">
        {{ content.links }}
    </div>
    <h5 class="name-tag">{{ author }}</h5>
    <p class="meta-tag">{{ node.created.value|date('j F Y / h:i:s A') }}</p>
    <p>{{ content.field_comment }}</p>
  </div>
</div>