{% if comments|length > 3 %}
	{% set a = comments|length - 3 %}
{% else %}
	{% set a = 0 %}
{% endif %}
<div class="bottom-space">
	<h4 class="post-title">{{ a }} {{ 'Comments'|t }}</h4>
    {{ comments }}
</div>
{% if comment_form %}
	<h4 class="post-title">{{ 'leave a comment'|t }}</h4>
	<div class="comment-form">
		<div class="">
			{{ comment_form }}
		</div>
	</div>
{% endif %}