<!-- {{ field_name }} -->
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{% if field_name == 'field_blog_tags' %}
 {% set c = 0 %}
  {%- for item in items -%}
    {% set c = c + 1 %}
    {% if c == items|length %}
      {{ item.content }}
    {% else %}
      {{ item.content }}
    {% endif %}
  {%- endfor -%}
{% elseif field_name == 'model' %}
  {% if label_hidden %}
    {% for item in items %}
    {{ item.content }}
    {% endfor %}
  {% else %} 
    {% if label %}
      {{ label }} :
    {% endif %}  
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% endif %} 
{% elseif field_name == 'field_blog_categories' or field_name == 'field_product_categories' or field_name == 'field_portfolio_categories' %}
  {% if label_hidden %}
    {% set c = 0 %}
    {%- for item in items -%}
      {% set c = c + 1 %}
        {% if c == items|length %}
      {{ item.content }}
      {% else %}
        {{ item.content }} , 
      {% endif %}
    {%- endfor -%}
  {% else %}
    {% if label %} {{ label }} : {% endif %}
    {% set c = 0 %}
    {%- for item in items -%}
      {% set c = c + 1 %}
        {% if c == items|length %}
      {{ item.content }}
      {% else %}
        {{ item.content }} , 
      {% endif %}
    {%- endfor -%}
  {% endif %}
{% elseif field_name == 'field_description' %}
  {% if label_hidden %}
    {% for item in items %}
    <p>{{ item.content }}</p>
    {% endfor %}
  {% else %} 
    {% if label %}
      <h4 class="post-title">{{ label }}</h4>
    {% endif %}  
    {% for item in items %}
      <p>{{ item.content }}</p>
    {% endfor %}
  {% endif %} 
{% elseif field_name == 'field_client' %}
  <p>
    {% if label %}
      {{ label }}:
    {% endif %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </p>
{% else %}
  {% if label_hidden %}
      {% for item in items %}
        {{ item.content }}
      {% endfor %}
  {% else %}
    <div{{ attributes.addClass(classes) }}>
      <div{{ title_attributes.addClass(title_classes,'title') }}>{{ label }}</div>
        {% for item in items %}
          <div{{ item.attributes.addClass('field__item','text') }}>{{ item.content }}</div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}

