{% include theme_path ~ "/templates/border/border.html.twig" %}
{{page.region_messages}}
{{page.region_top}}


<section class="w-section section-imp more-padding dark-gray page-user-cus">
    <div class="content">
        <div class="container">
            <div class="comments_area pa-0">
                <div class="logregform login-form">
                    <div class="title">
                        <h3>Account Login</h3>
                        <p>Not member yet? &nbsp;<a href="{{ base_path }}user/register">Sign Up.</a></p>
                        <p><a href="{{ base_path }}user/password"><strong>Forgot Password?</strong></a></p>
                    </div>
                    <div class="feildcont">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{page.region_mid}}
{{page.region_bot}}
{{ page.newsletter }}
{% include theme_path ~ "/templates/footer.html.twig" %}
