{% set blog_sidebar = node.field_blog_sidebar.0.value %}
{% set img = file_url(node.field_blog_image.0.entity.uri.value) %}
{% if blog_sidebar == 'none' %}
    {% set class = 'w-col-12' %}
{% else %}
    {% set class = 'w-col-9' %}
{% endif %}
{% include theme_path ~ "/templates/border/border.html.twig" %}
{{ page.region_baner }}

{{page.region_messages}}
{{page.region_tab}}
{{page.region_top}}
<div class="w-section blog-post-banner" style="background-image:url('{{ img }}')">
  <div class="arrow-down">
    <a href="#coming" class="w-inline-block icon-scroll"></a>
  </div>
</div>
<section id="coming" class="w-section section-imp">
    <div class="w-container">
        <div class="w-row">
            {% if blog_sidebar == 'left' %}
                <div class="w-col w-col-3">
                    {{ page.blog_sidebar }}
                </div>
            {% endif %}
            <div class="w-col {{ class }}">
                {{ page.content }}
            </div>
            {% if blog_sidebar == 'right' %}
                <div class="w-col w-col-3">
                    {{ page.blog_sidebar }}
                </div>
            {% endif %}
        </div>
    </div>
</section>
{{page.region_mid}}
{{page.region_bot}}
{% include theme_path ~ "/templates/footer.html.twig" %}
