{% include theme_path ~ "/templates/border/border.html.twig" %}
{{ page.region_baner }}

{{page.region_messages}}
{{page.region_tab}}
{{page.region_top}}
  <section id="filter" class="w-section section-imp">
	<div class="w-container">
		{{ page.content }}
	</div>
</section>
{{page.region_mid}}
{{page.region_bot}}
{% include theme_path ~ "/templates/footer.html.twig" %}
