{% if blog_style == 'minimal-arch' %}
	{% include theme_path ~ "/templates/border/border-arch.html.twig" %}
{% elseif blog_style == 'thougts' %}
	{% include theme_path ~ "/templates/border/border-thougts.html.twig" %}
{% elseif blog_style == 'photo' %}
	{% include theme_path ~ "/templates/border/border-photo.html.twig" %}
{% else %}
	{% include theme_path ~ "/templates/border/border.html.twig" %}
{% endif %}
{{page.region_messages}}
{{page.region_tab}}

	{% if blog_style == 'grid' %}
		<section id="filter" class="w-section section-imp" style="padding-bottom: 180px;">
			<div class="w-container">
				<div class="title-wrapper">
					<h2>Blog Grid</h2>
					{{ page.region_baner }}
				</div>
			    <div class="w-clearfix filter-cont in-grid">
			      <div data-ix="open-filter-menu" class="w-clearfix show-filter">
			        <div class="filter-button">
			          <div class="w-embed"><i class="fa fa-filter"></i>
			          </div>
			        </div>
			        <div class="w-clearfix filter-effect">
			          <div data-ix="hide-filter-opacity-0" class="filter-txt">Hide Filter</div>
			          <div class="filter-txt-hide">Show Filter</div>
			        </div>
			      </div>
			      <div data-ix="move-filter-content-on-load" class="w-clearfix filters button-group">
			      		{{page.region_top}}
			      </div>
			    </div>
			</div>
			{{ page.content }}
		</section>
	{% elseif blog_style == 'minimal' %}
		<section id="filter" class="w-section section-imp">
			<div class="w-container">
				<div class="title-wrapper">
					<h2>blog Minimal</h2>
					{{ page.region_baner }}
				</div>
				{{ page.content }}
			</div>
		</section>
	{% elseif blog_style == 'minimal-arch' %}
		<section id="filter" class="w-section section-imp section-arch">
			<div class="w-container">
				<div class="title-wrapper">
					<h2>BLog</h2>
					{{ page.region_baner_2 }}
					</div>
				</div>
				{{ page.content }}
			</div>
		</section>
	{% elseif blog_style == 'zig-zag' %}
		<section id="filter" class="w-section section-imp zig-zag-class">
			<div class="w-container">
				<div class="title-wrapper">
					<h2>blog zig-zag</h2>
					{{ page.region_baner }}
				</div>
				{{ page.content }}
			</div>
		</section>
	{% elseif blog_style == 'thougts' %}
		<section id="filter" class="w-section section-imp more-padding thougts-class">
			<div class="w-container">
				<div class="title-wrapper left">
					<h2 class="author-name">blog</h2>
					{{ page.region_baner }}
				</div>
				{{ page.content }}
			</div>
		</section>
	{% elseif blog_style == 'photo' %}
		<section id="filter" class="w-section section-imp">
			<div class="w-container">
				<div class="title-wrapper">
					<h2>my blog</h2>
					{{ page.region_baner }}
				</div>
				{{ page.content }}
			</div>
		</section>
	{% endif %}


{{page.region_bot}}
{% include theme_path ~ "/templates/footer.html.twig" %}
