{% include theme_path ~ "/templates/border/border.html.twig" %}
{{ page.region_baner }}
{{page.region_top}}
{{page.region_messages}}
{{page.region_tab}}
  <section id="filter" class="w-section section-imp page-cart">
	<div class="w-container">
		<div class="title-wrapper">
			<h2>{{ title }}</h2>
			<div><img src="{{ path_to_theme }}/images/sub-handmade.png"></div>
			{{ page.region_baner }}
		</div>
		{{ page.content }}
	</div>
</section>
{{page.region_mid}}
{{page.region_bot}}
{% include theme_path ~ "/templates/footer.html.twig" %}
