{% include theme_path ~ "/templates/border/border.html.twig" %}
{{ page.region_baner }}

{{page.region_messages}}
{{page.region_tab}}
{{page.region_top}}
	<div id="filter" class="w-section section-imp">
		<div class="w-container">
			<div class="title-wrapper">
				<h2>{{ title }}</h2>
			</div>
			<div id="grid" class="w-clearfix grid grid-not-margin">
				{{ page.content }}
			</div>
		</div>
	</div>
{{page.region_mid}}
{{page.region_bot}}
{% include theme_path ~ "/templates/footer.html.twig" %}
